<phpunit>
    <testsuites>
        <testsuite name="ably">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener file="tests/extensions/DebugTestListener.php" class="DebugTestListener" />
    </listeners>
    <filter>
        <blacklist>
            <directory suffix=".php">tests</directory>
        </blacklist>
    </filter>
</phpunit>